fastapi
uvicorn[standard]
pydantic
email-validator
pydantic-settings
SQLAlchemy
asyncpg
alembic
python-multipart
redis
typesense
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
structlog
anyio
pytest
pytest-asyncio
